{% extends '../base.html' %}

{% block content %}

        <h2>Requerimento de Reposicao</h2>

        <img src="{{ object.solicitation.usuario.picture_thumb.url }}">

        <p>Professor: {{ object.solicitation.usuario.username }}</p>

        <p>Matricula: {{ object.solicitation.usuario.registration }} </p>

        <p>Turma/Periodo: {{object.solicitation.team}}</p>

        <p>Período da falta:{% if object.solicitation.date_miss_start.day <= 9 %} 0{{object.solicitation.date_miss_start.day}}{% else %}  {{object.solicitation.date_miss_start.day}}{% endif %}/{% if object.solicitation.date_miss_start.month <= 9 %}0{{object.solicitation.date_miss_start.month}}{% else %}{{object.solicitation.date_miss_start.month}}{% endif %}/{{object.solicitation.date_miss_start.year}} - {% if object.solicitation.date_miss_end.day <= 9 %} 0{{object.solicitation.date_miss_end.day}}{% else %} {{object.solicitation.date_miss_end.day}}{% endif %}/{% if object.solicitation.date_miss_end.month <= 9 %}0{{object.solicitation.date_miss_end.month}}{% else %}{{object.solicitation.date_miss_end.month}}{% endif %}/{{object.solicitation.date_miss_end.year}}</p>

        {% if object.solicitation.othes %}

          <p>Motivo: {{object.solicitation.othes}}</p>

        {% else %}
          <p>Motivo: {{object.solicitation.reason}}</p>

        {% endif %}
        <p>Justificativa: {{object.solicitation.justification}}</p>

        
        {% if request.user.is_staff %}
        <form method="POST">
            {% csrf_token %}
            {% if object.status == 1 %}
              <input type="hidden" name="status" id="status" value="2">
            {% elif object.status == 2 %}
              <input type="hidden" name="status" id="status" value="3">
            {% endif %}
            <button type="submit" class="btn btn-success">Aceitar</button>
        </form>
        <form method="POST" >
            {% csrf_token %}
            <input type="hidden" name="status" id="status" value="0">
            <input type="text" name="justification_Aceit" id ='justification_Aceit'>
            <button type="submit" class="btn btn-danger">Negar</button>
          </form>
        {% endif %}
        <!-- <form  method="POST">
            {% csrf_token %}
            <input type="hidden" name="aceita" value="aceita" />
            <input type="hidden" name="objeto" value="{{object.pk}}">
            <button type="submit" class="btn btn-primary">Aceitar</button>
          </form>
          
          <form method="POST">
            <input type="hidden" id="status" name="status" value="0">
            <input type="submit" value="Negar" />
          </form> -->










{% endblock %}
