{% extends '../base.html' %}

{% block content %}

        <h2>Requerimento de Reposicao</h2>

        <p>Professor: {{ object.user.username }}</p>

        <p>Matricula: {{ object.user.registration }} </p>

        <p>Turma/Periodo: {{object.team}}</p>

        <p>Período da falta: {{object.date_miss_start}} à {{object.date_miss_end}}</p>

        {% if object.othes %}

          <p>Motivo: {{object.othes}}</p>

        {% else %}
          <p>Motivo: {{object.reason}}</p>

        {% endif %}
        <p>Justificativa: {{object.justification}}</p>


        <form action="{% url 'reposicao:aceitar-create' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" id="status" name="status" value="2" />
          <input type="hidden" name="solicitation" value="{{request.pk}}">
          <button type="submit">Aceitar</button>
        </form>
        <a href="{% url 'reposicao:negar-create' %}" class="btn btn-default">Negar</a>









{% endblock %}
