{% extends '../base.html'%}
{% block content %}
<ol style="float: right;"class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Reposição de Aula</li>
</ol>
<form method="post">
  {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="usuario" id="usuario" value="{{ request.user.first_name }}{{ request.user.lest_name }}">
    <input type="hidden" name="matricula" id="matricula"  value="{{ request.user.registration }}">
    <a href="{% url 'reposicao:reposicao' %}" class="btn btn-default">Close</a>
    <input type="submit" value="Save" />
</form>
{% endblock %}
