{% extends '../base.html'%}

{% block content %}
<div class="wrapper">
<div class="box-body table-responsive no-padding">
    <table class="table table-hover">
            <tr>
              <th>Professor</th>
              <th>Matricula</th>
              <th>Periodo da Falta</th>
              <th>Data da Reposicao</th>
              <th>Status do Requerimento</th>
            </tr>
            {% for object in object_list %}
            <tr>
              <td>{{object.user}}</td>
              <td>{{object.matricula}}</td>
              <td>{{object.date_miss_start}} - {{object.date_miss_end}}</td>
              <td>em andamento ...</td>
              <td>em andamento ..</dt>
            </tr>
            {% endfor %}
          </table>
</div>
</div>
{% endblock %}
