{% extends '../base.html' %}
{% block content %}
<form method="post">
  {% csrf_token %}
    <input type="hidden" id="solicitation" name="solicitation" value="{{object.solicitation.id}}" />
    <label> Descrição: </label>
    <textarea id="descripition" name="descripition" rows="3" cols="60" type="text"></textarea>
    <label> Data da aula: </label>
    <input type="date" class="form-control" id="date_class" name="date_class" style="width: 30%; float: left;" >
    <label> Data da falta: </label>
    <input type="date" class="form-control" id="date_restitution" name="date_restitution" style="width: 30%;  float: left; position: relative; top:0; margin:0;" >
    <label> Componente Curricular: </label>
    <input type="text" id="components" name="components">
    <input type="submit" value="Enviar" />
</form>
{% endblock %}
